body{
    font-family: 'roboto', sans-serif;
    background-color: #ebebeb;
    font-size: 12px;
    margin: 0px;
}
header{
    background-color: #EAC926;
    background-size: 100%;
    display: flex;
    flex-direction: column;
}
footer{
    text-align: center;
    background-color: white;
}
.flexible{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
main{
    width: 90vw;
    margin: auto;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }
.titulares{
    font-size: 24px;
    color: #666;
}
.precios{
    font-size: 18px;
    margin: 0%;
    flex-grow: 30;

}
.descuentos{
    font-size: 16px;
    color: #39b54a;
    margin-top: 0%;
    flex-grow: 70;
}
.descripciones{
    font-size: 16px;
    color: #666;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
ul{
    padding: 0;
}
.centro{
    text-align: center;
}
.hamburguesa{
    background-color: #1259c3;
    color: white;
    font-size: 2em;
    padding: 2mm;
    width: 40px;
    height: 40px;
    margin: auto;
    text-align: center;
    border-radius: 15%;
}
.iconos{
    font-size: 2em;
    color:#1259c3;
}
.iconos:hover{
    color: #31f73f;
}
.banner{
    width: 100%;
}
img{
    width: 100%;
}

strong{
    display: block;
    padding: 15px;
}
.caja{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    display: none;
    position: relative;
    flex-wrap: wrap;
}
.camioncolor{
    color: #39b54a;
    padding: 10px;
    width: 10px;
    height: 10px;
    order: 1;
}
nav{
    display: none;
}
.centradoBuscador{
    align-self: center;
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#buscador{
    width: 100%;
    padding: 10px 30px 10px 10px;
}
#lupa{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0px 5px 5px 0px;
    border-left: solid rgba(179, 179, 179, 0.911) 1px;
    padding-left: 3px;
    padding-right: 3px;
}

header div img{
    padding: 10px;
}
header div input{
    width: 100%;
    border-radius: 5px 0px 0px 5px;
    border: none;
}
main form{
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 15px;

}
main form p{
    padding: 15px;
    width: 100%;
}
main form p input{
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 100%;
    padding: 10px;
}

.perfil{
    height: 15px;
    width: 15px;
}
.int{
  padding-left: 15px;
}
.boton:hover{
    background-color: #0022AA;
    color: white;
}
.botonred:hover{
    background-color: #ff584d;
    color: white;
}


@media (min-width: 426px){
    .caja{
   display: flex;
    }
    nav{ display: block;
    }
    .hamburguesa{
        display: none;
    }
    section{
        text-align: center;
    }
    main section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
    }
    article{
        width: 45%;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }
    a{
        padding: 15px;
    }
    ul{
        display: flex;
    }
    .flexible{
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .centro{
        display: flex;
        align-items: center;
        width: 30%;
        justify-content: center;
    }
    .logo{
        width: 30%;
    }

}
@media (min-width: 769px){
  article{
      width: 23%;
  }

}